body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
body{margin:0px; padding:0; background:#72ab09;font-size:12px;font-family:Verdana, "宋体", Arial,Sans;}
img{border:none;}
a{blr:expression(this.onFocus=this.blur()); border:none;}
a:focus{ outline:0; }
input:focus{ outline:0;}
ul{ list-style:none;}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 200px #fff inset;
	color:#333;
    }
.clear{ clear:both;}

#myxTipsLeft{
	background: url(/Images/Agent/Login/xTipsLeft.gif) no-repeat!important;
}

.AL_box{ width:305px; margin:0 auto;}
.AL_t01{ width:305px; height:259px; float:left; background:url(/Images/Agent/Login/AL_t_01.jpg) no-repeat;margin-bottom:30px;}
.AL_t02{ width:305px;float:left; position:relative;}
.AL_t02 ul{ width:305px; float:left; padding:0; margin:0;}
.AL_t02 li{ width:305px; margin-top:11px; float:left; display:inline; padding:0;position:relative;}
.AL_t02 li span{ width:100px; height:34px; float:left; position:absolute; top:2px; right:16px;z-index:999;}
.AL_t02 .text{ width:265px; height:34px;line-height:34px; background:url(/Images/Agent/Login/ico.gif) no-repeat #fff;background-position:12px 0;padding-left:40px;border:none; float:left;font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#333;moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px; }
.AL_t02 .text1{ width:265px; height:34px;line-height:34px; background:url(/Images/Agent/Login/ico.gif) no-repeat #fff;background-position:12px -42px;padding-left:40px;border:none; float:left;font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#333; background:dce6ed;moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px; }
.AL_t02 .text2{ width:265px; height:34px;line-height:34px;background:url(/Images/Agent/Login/ico.gif) no-repeat #fff;background-position:12px -85px;padding-left:40px;border:none; float:left;font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#333; background:dce6ed;moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px; }
.AL_t02 .w100{ width:105px;}

.AL_t03{ width:305px;float:left;}
.AL_t03 .loginBtn{ width:305px; height:34px; float:left;background:#ffd800; margin-top:15px;color:#7a6700;font-size:16px;font-family:"Microsoft YaHei"; cursor:pointer; border:none;moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;}
.AL_t03 .loginBtn:hover{ background:#eac600;}
.AL_t03 .copy{ width:305px; height:40px; float:left; line-height:40px; font-size:12px; text-align:center; color:#ceed96;}

