/*香港乐透HK球号*/
.HKNo_1, .HKNo_2, .HKNo_3, .HKNo_4, .HKNo_5, .HKNo_6, .HKNo_7, .HKNo_8, .HKNo_9, .HKNo_10, .HKNo_11, .HKNo_12, .HKNo_13, .HKNo_14, .HKNo_15, .HKNo_16, .HKNo_17, .HKNo_18, .HKNo_19, .HKNo_20, .HKNo_21, .HKNo_22, .HKNo_23, .HKNo_24, .HKNo_25, .HKNo_26, .HKNo_27, .HKNo_28, .HKNo_29, .HKNo_30, .HKNo_31, .HKNo_32, .HKNo_33, .HKNo_34, .HKNo_35, .HKNo_36, .HKNo_37, .HKNo_38, .HKNo_39, .HKNo_40, .HKNo_41, .HKNo_42, .HKNo_43, .HKNo_44, .HKNo_45, .HKNo_46, .HKNo_47, .HKNo_48, .HKNo_49 {
	background: url(../../common/images/number/hk.gif) no-repeat center center;
	width:28px;
	height:26px;
	display:inline-block;
	vertical-align:middle;
	font-style:normal;
}
.HKNo_1 {
	background-position:0 0px
}
.HKNo_2 {
    background-position:0 -27px
}
.HKNo_3 {
    background-position:0 -54px
}
.HKNo_4 {
    background-position:0 -81px
}
.HKNo_5 {
    background-position:0 -108px
}
.HKNo_6 {
    background-position:0 -135px
}
.HKNo_7 {
    background-position:0 -162px
}
.HKNo_8 {
    background-position:0 -189px
}
.HKNo_9 {
    background-position:0 -216px
}
.HKNo_10 {
    background-position:0 -243px
}
.HKNo_11 {
    background-position:0 -270px
}
.HKNo_12 {
    background-position:0 -297px
}
.HKNo_13 {
    background-position:0 -324px
}
.HKNo_14 {
    background-position:0 -351px
}
.HKNo_15 {
    background-position:0 -378px
}
.HKNo_16 {
    background-position:0 -405px
}
.HKNo_17 {
    background-position:0 -432px
}
.HKNo_18 {
    background-position:0 -459px
}
.HKNo_19 {
    background-position:0 -486px
}
.HKNo_20 {
    background-position:0 -513px
}
.HKNo_21 {
    background-position:0 -540px
}
.HKNo_22 {
    background-position:0 -567px
}
.HKNo_23 {
    background-position:0 -594px
}
.HKNo_24 {
    background-position:0 -621px
}
.HKNo_25 {
    background-position:0 -648px
}
.HKNo_26 {
    background-position:0 -675px
}
.HKNo_27 {
    background-position:0 -702px
}
.HKNo_28 {
    background-position:0 -729px
}
.HKNo_29 {
    background-position:0 -756px
}
.HKNo_30 {
    background-position:0 -783px
}
.HKNo_31 {
    background-position:0 -810px
}
.HKNo_32 {
    background-position:0 -837px
}
.HKNo_33 {
    background-position:0 -864px
}
.HKNo_34 {
    background-position:0 -891px
}
.HKNo_35 {
    background-position:0 -918px
}
.HKNo_36 {
    background-position:0 -945px
}
.HKNo_37 {
    background-position:0 -972px
}
.HKNo_38 {
    background-position:0 -999px
}
.HKNo_39 {
    background-position:0 -1026px
}
.HKNo_40 {
    background-position:0 -1053px
}
.HKNo_41 {
    background-position:0 -1080px
}
.HKNo_42 {
    background-position:0 -1107px
}
.HKNo_43 {
    background-position:0 -1134px
}
.HKNo_44 {
    background-position:0 -1161px
}
.HKNo_45 {
    background-position:0 -1188px
}
.HKNo_46 {
    background-position:0 -1215px
}
.HKNo_47 {
    background-position:0 -1242px
}
.HKNo_48 {
    background-position:0 -1269px
}
.HKNo_49 {
    background-position:0 -1296px
}


/*廣東快樂十分*/
.KLCNo_1,.KLCNo_2,.KLCNo_3,.KLCNo_4,.KLCNo_5,.KLCNo_6,.KLCNo_7,.KLCNo_8,.KLCNo_9,.KLCNo_10,.KLCNo_11,.KLCNo_12,.KLCNo_13,.KLCNo_14,.KLCNo_15,.KLCNo_16,.KLCNo_17,.KLCNo_18,.KLCNo_19,.KLCNo_20 {
	background: url(../../common/images/number/klc.gif) no-repeat center center;
	width:28px;
	height:26px;
	display:inline-block;
	vertical-align:middle;
	font-style:normal;
}
.KLCNo_1 {
	background-position: 0px 0px
}
.KLCNo_2 {
	background-position: 0px -27px
}
.KLCNo_3 {
	background-position: 0px -54px
}
.KLCNo_4 {
	background-position: 0px -81px
}
.KLCNo_5 {
	background-position: 0px -108px
}
.KLCNo_6 {
	background-position: 0px -135px
}
.KLCNo_7 {
	background-position: 0px -162px
}
.KLCNo_8 {
	background-position: 0px -189px
}
.KLCNo_9 {
	background-position: 0px -216px
}
.KLCNo_10 {
	background-position: 0px -243px
}
.KLCNo_11 {
	background-position: 0px -270px
}
.KLCNo_12 {
	background-position: 0px -297px
}
.KLCNo_13 {
	background-position: 0px -324px
}
.KLCNo_14 {
	background-position: 0px -351px
}
.KLCNo_15 {
	background-position: 0px -378px
}
.KLCNo_16 {
	background-position: 0px -405px
}
.KLCNo_17 {
	background-position: 0px -432px
}
.KLCNo_18 {
	background-position: 0px -459px
}
.KLCNo_19 {
	background-position: 0px -486px
}
.KLCNo_20 {
	background-position: 0px -513px
}

/*重慶時時彩*/
.SSCNo_0,.SSCNo_1,.SSCNo_2,.SSCNo_3,.SSCNo_4,.SSCNo_5,.SSCNo_6,.SSCNo_7,.SSCNo_8,.SSCNo_9 {
	background: url(../../common/images/number/ssc.gif) no-repeat center center;
	width:28px;
	height:26px;
	display:inline-block;
	vertical-align:middle;
	font-style:normal;
}
.SSCNo_0 {
	background-position: 0px 0px
}
.SSCNo_1 {
	background-position: 0px -27px
}
.SSCNo_2 {
	background-position: 0px -54px
}
.SSCNo_3 {
	background-position: 0px -81px
}
.SSCNo_4 {
	background-position: 0px -108px
}
.SSCNo_5 {
	background-position: 0px -135px
}
.SSCNo_6 {
	background-position: 0px -162px
}
.SSCNo_7 {
	background-position: 0px -189px
}
.SSCNo_8 {
	background-position: 0px -216px
}
.SSCNo_9 {
	background-position: 0px -243px
}

/*北京賽車PK10*/
.PKNo_1,.PKNo_2,.PKNo_3,.PKNo_4,.PKNo_5,.PKNo_6,.PKNo_7,.PKNo_8,.PKNo_9,.PKNo_10 {
	background: url(../../common/images/number/pk.gif) no-repeat center center;
	width:28px;
	height:26px;
	display:inline-block;
	vertical-align:middle;
	font-style:normal;
}
.PKNo_1 {
	BACKGROUND-POSITION: 0px 0px
}
.PKNo_2 {
	BACKGROUND-POSITION: 0px -27px
}
.PKNo_3 {
	BACKGROUND-POSITION: 0px -54px
}
.PKNo_4 {
	BACKGROUND-POSITION: 0px -81px
}
.PKNo_5 {
	BACKGROUND-POSITION: 0px -108px
}
.PKNo_6 {
	BACKGROUND-POSITION: 0px -135px
}
.PKNo_7 {
	BACKGROUND-POSITION: 0px -162px
}
.PKNo_8 {
	BACKGROUND-POSITION: 0px -189px
}
.PKNo_9 {
	BACKGROUND-POSITION: 0px -216px
}
.PKNo_10 {
	BACKGROUND-POSITION: 0px -243px
}

/*江蘇快3*/
.KSNo_1,.KSNo_2,.KSNo_3,.KSNo_4,.KSNo_5,.KSNo_6 {
	background: url(../../common/images/number/ks.gif) no-repeat center center;
	width:27px;
	height:26px;
	display:inline-block;
	vertical-align:middle;
	font-style:normal;
}
.KSNo_1 {
	BACKGROUND-POSITION: 0px 0px
}
.KSNo_2 {
	BACKGROUND-POSITION: 0px -27px
}
.KSNo_3 {
	BACKGROUND-POSITION: 0px -54px
}
.KSNo_4 {
	BACKGROUND-POSITION: 0px -81px
}
.KSNo_5 {
	BACKGROUND-POSITION: 0px -108px
}
.KSNo_6 {
	BACKGROUND-POSITION: 0px -135px
}

/*快樂8*/
.KLBNo_1, .KLBNo_2, .KLBNo_3, .KLBNo_4, .KLBNo_5, .KLBNo_6, .KLBNo_7, .KLBNo_8, .KLBNo_9, .KLBNo_10, .KLBNo_11, .KLBNo_12, .KLBNo_13, .KLBNo_14, .KLBNo_15, .KLBNo_16, .KLBNo_17, .KLBNo_18, .KLBNo_19, .KLBNo_20, .KLBNo_21, .KLBNo_22, .KLBNo_23, .KLBNo_24, .KLBNo_25, .KLBNo_26, .KLBNo_27, .KLBNo_28, .KLBNo_29, .KLBNo_30, .KLBNo_31, .KLBNo_32, .KLBNo_33, .KLBNo_34, .KLBNo_35, .KLBNo_36, .KLBNo_37, .KLBNo_38, .KLBNo_39, .KLBNo_40, .KLBNo_41, .KLBNo_42, .KLBNo_43, .KLBNo_44, .KLBNo_45, .KLBNo_46, .KLBNo_47, .KLBNo_48, .KLBNo_49, .KLBNo_50, .KLBNo_51, .KLBNo_52, .KLBNo_53, .KLBNo_54, .KLBNo_55, .KLBNo_56, .KLBNo_57, .KLBNo_58, .KLBNo_59, .KLBNo_60, .KLBNo_61, .KLBNo_62, .KLBNo_63, .KLBNo_64, .KLBNo_65, .KLBNo_66, .KLBNo_67, .KLBNo_68, .KLBNo_69, .KLBNo_70, .KLBNo_71, .KLBNo_72, .KLBNo_73, .KLBNo_74, .KLBNo_75, .KLBNo_76, .KLBNo_77, .KLBNo_78, .KLBNo_79, .KLBNo_80 {
	background: url(../../common/images/number/klb.gif) no-repeat center center;
	width:27px;
	height:26px;
	display:inline-block;
	vertical-align:middle;
	font-style:normal;
}

.KLBNo_1 {
	background-position:0 0px
}
.KLBNo_2 {
    background-position:0 -27px
}
.KLBNo_3 {
    background-position:0 -54px
}
.KLBNo_4 {
    background-position:0 -81px
}
.KLBNo_5 {
    background-position:0 -108px
}
.KLBNo_6 {
    background-position:0 -135px
}
.KLBNo_7 {
    background-position:0 -162px
}
.KLBNo_8 {
    background-position:0 -189px
}
.KLBNo_9 {
    background-position:0 -216px
}
.KLBNo_10 {
    background-position:0 -243px
}
.KLBNo_11 {
    background-position:0 -270px
}
.KLBNo_12 {
    background-position:0 -297px
}
.KLBNo_13 {
    background-position:0 -324px
}
.KLBNo_14 {
    background-position:0 -351px
}
.KLBNo_15 {
    background-position:0 -378px
}
.KLBNo_16 {
    background-position:0 -405px
}
.KLBNo_17 {
    background-position:0 -432px
}
.KLBNo_18 {
    background-position:0 -459px
}
.KLBNo_19 {
    background-position:0 -486px
}
.KLBNo_20 {
    background-position:0 -513px
}
.KLBNo_21 {
    background-position:0 -540px
}
.KLBNo_22 {
    background-position:0 -567px
}
.KLBNo_23 {
    background-position:0 -594px
}
.KLBNo_24 {
    background-position:0 -621px
}
.KLBNo_25 {
    background-position:0 -648px
}
.KLBNo_26 {
    background-position:0 -675px
}
.KLBNo_27 {
    background-position:0 -702px
}
.KLBNo_28 {
    background-position:0 -729px
}
.KLBNo_29 {
    background-position:0 -756px
}
.KLBNo_30 {
    background-position:0 -783px
}
.KLBNo_31 {
    background-position:0 -810px
}
.KLBNo_32 {
    background-position:0 -837px
}
.KLBNo_33 {
    background-position:0 -864px
}
.KLBNo_34 {
    background-position:0 -891px
}
.KLBNo_35 {
    background-position:0 -918px
}
.KLBNo_36 {
    background-position:0 -945px
}
.KLBNo_37 {
    background-position:0 -972px
}
.KLBNo_38 {
    background-position:0 -999px
}
.KLBNo_39 {
    background-position:0 -1026px
}
.KLBNo_40 {
    background-position:0 -1053px
}
.KLBNo_41 {
    background-position:0 -1080px
}
.KLBNo_42 {
    background-position:0 -1107px
}
.KLBNo_43 {
    background-position:0 -1134px
}
.KLBNo_44 {
    background-position:0 -1161px
}
.KLBNo_45 {
    background-position:0 -1188px
}
.KLBNo_46 {
    background-position:0 -1215px
}
.KLBNo_47 {
    background-position:0 -1242px
}
.KLBNo_48 {
    background-position:0 -1269px
}
.KLBNo_49 {
    background-position:0 -1296px
}
.KLBNo_50 {
    background-position:0 -1323px
}
.KLBNo_51 {
    background-position:0 -1350px
}
.KLBNo_52 {
    background-position:0 -1377px
}
.KLBNo_53 {
    background-position:0 -1404px
}
.KLBNo_54 {
    background-position:0 -1431px
}
.KLBNo_55 {
    background-position:0 -1458px
}
.KLBNo_56 {
    background-position:0 -1485px
}
.KLBNo_57 {
    background-position:0 -1512px
}
.KLBNo_58 {
    background-position:0 -1539px
}
.KLBNo_59 {
    background-position:0 -1566px
}
.KLBNo_60 {
    background-position:0 -1593px
}
.KLBNo_61 {
    background-position:0 -1620px
}
.KLBNo_62 {
    background-position:0 -1647px
}
.KLBNo_63 {
    background-position:0 -1674px
}
.KLBNo_64 {
    background-position:0 -1701px
}
.KLBNo_65 {
    background-position:0 -1728px
}
.KLBNo_66 {
    background-position:0 -1755px
}
.KLBNo_67 {
    background-position:0 -1782px
}
.KLBNo_68 {
    background-position:0 -1809px
}
.KLBNo_69 {
    background-position:0 -1836px
}
.KLBNo_70 {
    background-position:0 -1863px
}
.KLBNo_71 {
    background-position:0 -1890px
}
.KLBNo_72 {
    background-position:0 -1917px
}
.KLBNo_73 {
    background-position:0 -1944px
}
.KLBNo_74 {
    background-position:0 -1971px
}
.KLBNo_75 {
    background-position:0 -1998px
}
.KLBNo_76 {
    background-position:0 -2025px
}
.KLBNo_77 {
    background-position:0 -2052px
}
.KLBNo_78 {
    background-position:0 -2079px
}
.KLBNo_79 {
    background-position:0 -2106px
}
.KLBNo_80 {
    background-position:0 -2133px
}

/*幸運農場*/
.NCNo_1, .NCNo_2, .NCNo_3, .NCNo_4, .NCNo_5, .NCNo_6, .NCNo_7, .NCNo_8, .NCNo_9, .NCNo_10, .NCNo_11, .NCNo_12, .NCNo_13, .NCNo_14, .NCNo_15, .NCNo_16, .NCNo_17, .NCNo_18, .NCNo_19, .NCNo_20 {
	background: url(../../common/images/number/nc.gif) no-repeat center center;
	width:28px;
	height:26px;
	display:inline-block;
	vertical-align:middle;
	font-style:normal;
}

.NCNo_1 {
	background-position:0 0px
}
.NCNo_2 {
    background-position:0 -27px
}
.NCNo_3 {
    background-position:0 -54px
}
.NCNo_4 {
    background-position:0 -81px
}
.NCNo_5 {
    background-position:0 -108px
}
.NCNo_6 {
    background-position:0 -135px
}
.NCNo_7 {
    background-position:0 -162px
}
.NCNo_8 {
    background-position:0 -189px
}
.NCNo_9 {
    background-position:0 -216px
}
.NCNo_10 {
    background-position:0 -243px
}
.NCNo_11 {
    background-position:0 -270px
}
.NCNo_12 {
    background-position:0 -297px
}
.NCNo_13 {
    background-position:0 -324px
}
.NCNo_14 {
    background-position:0 -351px
}
.NCNo_15 {
    background-position:0 -378px
}
.NCNo_16 {
    background-position:0 -405px
}
.NCNo_17 {
    background-position:0 -432px
}
.NCNo_18 {
    background-position:0 -459px
}
.NCNo_19 {
    background-position:0 -486px
}
.NCNo_20 {
    background-position:0 -513px
}

/*广西快樂十分*/
.GXNo_1,.GXNo_2,.GXNo_3,.GXNo_4,.GXNo_5,.GXNo_6,.GXNo_7,.GXNo_8,.GXNo_9,.GXNo_10,.GXNo_11,.GXNo_12,.GXNo_13,.GXNo_14,.GXNo_15,.GXNo_16,.GXNo_17,.GXNo_18,.GXNo_19,.GXNo_20,.GXNo_21 {
	background: url(../../common/images/number/gx.png) no-repeat center center;
	width:28px;
	height:26px;
	display:inline-block;
	vertical-align:middle;
	font-style:normal;
}
.GXNo_1 {
	background-position: -1px -2px
}
.GXNo_2 {
	background-position: -1px -29px
}
.GXNo_3 {
	background-position: -1px -56px
}
.GXNo_4 {
	background-position: -1px -82px
}
.GXNo_5 {
	background-position: -1px -109px
}
.GXNo_6 {
	background-position: -1px -136px
}
.GXNo_7 {
	background-position: -1px -162px
}
.GXNo_8 {
	background-position: -1px -189px
}
.GXNo_9 {
	background-position: -1px -216px
}
.GXNo_10 {
	background-position: -1px -242px
}
.GXNo_11 {
	background-position: -1px -269px
}
.GXNo_12 {
	background-position: -1px -296px
}
.GXNo_13 {
	background-position: -1px -322px
}
.GXNo_14 {
	background-position: -1px -349px
}
.GXNo_15 {
	background-position: -1px -376px
}
.GXNo_16 {
	background-position: -1px -402px
}
.GXNo_17 {
	background-position: -1px -429px
}
.GXNo_18 {
	background-position: -1px -456px
}
.GXNo_19 {
	background-position: -1px -482px
}
.GXNo_20 {
	background-position: -1px -509px
}
.GXNo_21 {
	background-position: -1px -536px
}

/*七星彩*/
.QXCNo_0,.QXCNo_1,.QXCNo_2,.QXCNo_3,.QXCNo_4,.QXCNo_5,.QXCNo_6,.QXCNo_7,.QXCNo_8,.QXCNo_9 {
	background: url(../../common/images/number/ssc.gif) no-repeat center center;
	width:28px;
	height:26px;
	display:inline-block;
	vertical-align:middle;
	font-style:normal;
}
.QXCNo_0 {
	background-position: 0px 0px
}
.QXCNo_1 {
	background-position: 0px -27px
}
.QXCNo_2 {
	background-position: 0px -54px
}
.QXCNo_3 {
	background-position: 0px -81px
}
.QXCNo_4 {
	background-position: 0px -108px
}
.QXCNo_5 {
	background-position: 0px -135px
}
.QXCNo_6 {
	background-position: 0px -162px
}
.QXCNo_7 {
	background-position: 0px -189px
}
.QXCNo_8 {
	background-position: 0px -216px
}
.QXCNo_9 {
	background-position: 0px -243px
}