body{margin:0px; padding:0; background:url(Images/bg.jpg) repeat-x #7661ae;}
img{border:none;}
a{blr:expression(this.onFocus=this.blur()); border:none;}
a:focus{ outline:0; }
input:focus{ outline:0;}
ul{ list-style:none;}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 200px #fff inset;
	color:#333;
    }
.clear{ clear:both;}

#myxTipsLeft{
	background: url(images/xTipsLeft.gif) no-repeat!important;
}
.AL_box{ width:100%;}
.AL_t01{ width:968px; height:286px; margin:0 auto;background:url(Images/AL_t_01.jpg) no-repeat;}
.AL_t022{ width:100%; background:#fff;}
.AL_t02{ width:616px;margin:0 auto;padding-left:352px;background:url(Images/AL_t_02.jpg) no-repeat 352px 0;position:relative;}
.AL_t02 ul{ width:260px; float:left; padding:0; margin:0;}
.AL_t02 li{ width:260px; margin-bottom:12px; float:left; display:inline; padding:0;}
.AL_t02 li span{ width:100px; height:34px; float:left; position:absolute; top:89px; right:337px;z-index:999;}
.AL_t02 .text{ width:212px; height:29px;line-height:29px; border:0 none; float:left; margin-left:32px;font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#333; background:none; margin-top:1px;}
.AL_t02 .w100{ width:105px;}
.bai{ background:#fff; width:260px; height:35px;}

.AL_t02 .loginBtn{ width:88px; height:88px; float:left;background:url(Images/btn.jpg); color:#fff;font-size:16px;font-family:"Microsoft YaHei"; cursor:pointer; border:none;margin:0px 0 0 30px;border-radius: 50% 50%;}
.AL_t03 .copy{ width:968px; height:89px;margin:0 auto;line-height:60px; font-size:12px; color:#ababab; text-align:center;background:url(Images/AL_t_03.jpg) no-repeat;}

/*����*/
.move{
	cursor: move;
}
.myLayer{
	position: absolute;
	border:1px solid #cccccc;
	background: #fff;
	padding: 1px 0 1px 1px;
	z-index: 9999;
}
.myLayerOn{
	position: absolute;
	width: 19px;
	height: 10px;
	line-height: 10px;
	font-size: 0;
	top: -10px;
	left: 5px;
	background: url(../Images/myLayerOn.gif) no-repeat;
}
.myLayerTitle{
	height: 30px;
	line-height: 30px;
	background: #f7f7f7;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	zoom: 1;
}
.myLayerTitle a{
	float: right;
	width: 30px;
	height: 30px;
	background: url(../Images/myLayerClose.gif) no-repeat;
}
.myLayerTitle a:hover{
	background: url(../Images/myLayerClose.gif) 0 -30px no-repeat;
}
.myLayerTitle h3{
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	padding-left:5px;
	margin:0;
	font-family:Verdana,"����",Arial,Sans;
}

.myLayerContent{
	padding: 10px 20px 0 20px;
	margin: 0 0 10px 0;
	background: #fff;
	position: relative;
	font-size:12px;
}
.myLayerFooter{
	background: #f7f7f7;
	border-top: 1px solid #e5e5e5;
	text-align: right;
	padding: 5px;
}
.myLayerFooter a{
	margin: 0 0 0 5px;
}
.myLayerFooter a:hover{
	color: #fff;
}
.myLayerFooter a.grayBtn:hover{
	color: #343434;
}
.myLayerFooter a.grayBtn1:hover{
	color: #898989;
}
.myLayerBox p{
	height: 24px;
	line-height: 24px;
}
.myLayerBox p em{
	color: #e64100;
	font-size: 12px;
	margin-right: 10px;
	font-weight: bold;
	font-family:Verdana,"����",Arial,Sans;
}
.myLayerBox p em.blue{
	color: blue
}
.myLayerBox p i{
	color: #008d0d;
	font-size: 12px;
	margin-right: 5px;
	font-weight: bold;
	font-family:Verdana,"����",Arial,Sans;
}
.myLayerLoading{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.6) url(../../Images/loading27.gif) center center no-repeat;
}

#myxTips{
	position: absolute;
	padding: 1px;
	border: 1px solid #dbbca1;
	background: #fff;    
	border-radius: 3px;
	box-shadow: 0 1px 5px #a9a9a9;
	z-index: 99999
}
#myxTipsLeft{
	position: absolute;
	left: -4px;
	top: 10px;
	width: 5px;
	height: 7px;
	line-height: 7px;
	font-size: 0px;
	background: url(../../Images/xTipsLeft.gif) no-repeat;
}
#myxTipsContent{
	padding: 4px;
	line-height: 18px;
	color: #cc6633;
	background: #f9f2eb;
}
.myLayerMask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	z-index: 9998;
}

.btn{
	font-size: 12px;
	display: inline-block;
	padding: 4px 20px;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	text-decoration:none;
}
	.hotBtn{
		font-weight: bold;
		color: #fff;
		text-shadow: 0px 1px 0px #d05000;
		background: #f07700;
		background-image:-webkit-linear-gradient(to top, #e36600, #ff8800);
		background-image:linear-gradient(to top , #e36600, #ff8800);
		border-bottom: 1px solid #b74c00;
	}
	.hotBtn:hover{
		background: #ff8800;
		background-image:-webkit-linear-gradient(to top, #ff8800, #ff8800);
		background-image:linear-gradient(to top , #ff8800, #ff8800);
	}
